@property --s {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0; 
}
:root {
  animation: scroll 1s linear;
  animation-timeline: scroll();
}
@keyframes scroll {to {--s: 100}}

/* --- */
.counter {
    position: fixed;
    width:100%;
    background: #FFFFFF;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    padding:1.2rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow added here */

    
}
.counter:before {
  content: "you have read " counter(s) "% of the content";
  counter-reset: s var(--s);
  font-size: 30px;
  font-weight: 600;
  white-space: pre;
  text-align: center;
  inset: 0;
  /* width: fit-content;
  height: fit-content; */
  margin: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    line-height: 2;
}


/* Ensure the page has enough content to scroll */
body {
  /* min-height: 300vh;*/
  margin: 0;
  padding:120px 0 40px 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: linear-gradient(180deg, #FFDEE9 0%, #B5FFFC 100%);
}

.content {
  max-width: 600px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
